section.section-center.pb-5
  .container
    .row
      .col-md-6.about-section__center
        img.about-section__top-img(src="https://firebasestorage.googleapis.com/v0/b/poramoralascalles-1ce75.appspot.com/o/img%2F3-img.jpg?alt=media&token=3b9faeba-8ed0-4d6d-8983-8b2c254cf06c", alt="cipac")
      .col-md-6.about-text__container
        p.indent La misión es llegar a ser el centro de rehabilitación e integración con mayor presencia en el estado de Veracruz en apoyo a los jovenes permanentemente, ampliando sus oportunidades de manera productiva para integrarse exitosamente dentro de la sociedad a través del camino a la recuperación.
        p.indent Trabajamos día a día en ésta iniciativa ciudadana que nace del corazón de Dios, la constancia y fe nos lleva cada vez más lejos, llevados de la mano de Dios, lograremos crear una generación de impacto para nuestra sociedad.
