section.section-center.pb-5
  .container
    .row
      .col-md-6.about-section__center
        img.about-section__top-img(src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/61046431_2075720955871135_967847760344645632_n.jpg?_nc_cat=105&_nc_eui2=AeEMtDDja3tp4U836CqJFn1ynDCUusC-VKXXRj3L_QaZJvAkk1hSh_2k-sZ_WZXtc1rVN3WdZ9roV0cSjq8bDUd0vpNR78vP_A-EE-fZkAAFpQ&_nc_ohc=37YVf_D9-S0AX8wJEu_&_nc_ht=scontent-dfw5-1.xx&oh=07dec178c62333fc4e1eb5cb775d361c&oe=5ECA64DC", alt="cipac")
      .col-md-6.about-text__container
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quam nulla temporibus numquam aperiam praesentium totam labore, consectetur nisi eius quae dignissimos odit tempore commodi vel modi voluptates incidunt quidem?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quam nulla temporibus numquam aperiam praesentium totam labore, consectetur nisi eius quae dignissimos odit tempore commodi vel modi voluptates incidunt quidem?
