section.about-section__top
  .container
    .row
      .col-md-6
        h2.mb-3 Por amor a las calles CIPAC
        p.indent Somos un centro de integración juvenil gratuito, que atiende las demandas sociales de jovenes con problemas de adicciones, y estamos listos para servir a quien desea tomar el reto de transformar su vida.
        p.indent Estamos convencidos que unidos hacemos más, y que los buenos tambien somos más, pero quienes somos hijos de Dios sabemos del privilegio de servir con excelencia, de ayudar y amar a nuestro prójimo, somos la iglesia de Dios extendiendo el amor de Cristo por toda nuestra ciudad.
        p.indent Trabajar en materia de prevención es uno de nuestros objetivos, por lo que hemos llevado éste mensaje de amor a secundarias y preparatorias, abordando temas de adicciones, desintegración familiar, bullyng, violencia en el noviazgo, entre otros.
        p.indent Así también como acudir a tutelares de menores y carceles con el fin de traer esperanza al que está privado de la libertad y compartir experiencias de vida para fomentar la reintegración social.
      .col-md-6.about-section_center
        img.about-section__top-img(src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/61403094_2075731082536789_7629896263315488768_n.jpg?_nc_cat=110&_nc_eui2=AeEEDfAVzOdNaCh5hOrdUPj6x5G9dY54ucbt9qXYfS2UoxXNuBwfBE1A1zaa9tclULxt6iWLR84ML8g9aRhrekLO_LjG6LBFfN0PmxWR6HsOzA&_nc_ohc=QDwxGqlE8dYAX9vD_Ky&_nc_ht=scontent-dfw5-1.xx&oh=c18103568839bdb2d11a364db30cc7a9&oe=5E8EFEEC", alt="cipac")
    

