section.section-contact__top
  .container
    .row
      .col-md-6
        img.contact-image(src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/17309723_1105949029515004_8317007686121139440_n.jpg?_nc_cat=102&_nc_ohc=MNvzWjfqQ5UAX97vVwJ&_nc_ht=scontent-dfw5-2.xx&oh=e051554309f001c654aeaf6efaf9fc8a&oe=5EDBCBBE", alt="cipac-image1")
      .col-md-6
        img.contact-image(src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/60608275_2075687082541189_374235262303076352_n.jpg?_nc_cat=102&_nc_ohc=tJO1_t_VtB0AX9MdICr&_nc_ht=scontent-dfw5-2.xx&oh=84099b403c7b3fe34e3f16292b01726c&oe=5E960C36", alt="cipac-image2")
      .col-md-6
        img.contact-image(src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/21751840_1266012123508693_8967779991184006677_n.jpg?_nc_cat=106&_nc_ohc=NGuqUk4-7VYAX-FR4a5&_nc_ht=scontent-dfw5-2.xx&oh=d4a355e7a6c2d561d92777a121856a94&oe=5ED6637D", alt="cipac-image3")
      .col-md-6
        img.contact-image(src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-0/p526x296/26229866_1374041996039038_2265583329283013046_n.jpg?_nc_cat=108&_nc_ohc=SuWFQoQYYssAX-Sklci&_nc_ht=scontent-dfw5-2.xx&_nc_tp=6&oh=7388e3db4b08c37b41470640752a9ce5&oe=5E9031B5", alt="cipac-image4")
