.section-banner{
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background :{
    position: center;
    size:cover;
    repeat: no-repeat;
    attachment: fixed;
  };
}
.section-banner::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: $z-pseudo;
  background-color: rgba($black,.6);
}
.banner-container{
  position: relative;
  z-index: $z-overpseudo;
}
.banner-title{
  color: $white;
  font-size: $font-xxl;
  font-weight: normal;
  font-family: $ubuntu;
}
.banner-button,.button-help{
  font-family: $opensans;
  background-color: $color_fb;
  color:$white;
  letter-spacing: 1px;
  font-size: $font-m;
  width: 160px;
  text-align: center;
  i{
    padding: 0 .5rem;
  }
  
}
.banner-button:hover{
  background-color: $white;
  color: $color_fb;
}
.button-help{
  margin-bottom: .5rem;
  padding: 0.5rem;
  color: $white;
  border: 1px solid $white;
  background-color: $black;
}

.button-help:hover{
  border: 1px solid $black;
  background-color: $white;
  color: $black;
}
