.header-container{
  padding: .5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-fixed;
  background-color: rgba($black,.7);
  @media (min-width:992px) {
    padding: 0 .5rem;
  }
}
.brand-container{
  display: flex;
  align-items: center;
  a{
    text-decoration: none;
  }
}
.brand-name{
  font-size: $font-s;
  color: $white;
  font-family: $ubuntu;
}
.main-menu{
  display: none;

  ul{
    padding-left: 0;
    margin-bottom: 0;
    
    display: block;
    list-style: none;
  }
 
  &__link{
    display: block;
    padding: .5rem ;
    color: $white;
  }
  @media (min-width:992px) {
    display: block;
    ul{
      display: flex;
    }
  }
}
.bootstrap-container{
  position: relative;
  
}
.nav-container{
  position: absolute;
  top: 2.5rem;
  width: 100%;
  background-color: $white;
  text-align: center;
  
  a{
    color: black;
  
  }
  a:hover{
    background-color: $black;
    color: $white;
    text-decoration: none;
  }
  @media (min-width:992px) {
    position: static;
    background-color: transparent;
    width: auto;
    a{
      color: $white;
    }
  }
}
.show{
  display: block;
  border: 1px solid #eee;
}

.toggle-button{
  @include dflex();
  cursor: pointer;
  color: $white;
  font-size: $font-m;
  border: 1px solid $white;
  border-radius: 4px;
  padding: 0.5rem 1rem;

  @media (min-width:992px) {
    display: none;
  }
}

.whats-button{
  a{
    @include dflex();
  padding: .5rem;
  font-size: $font-l;
  color: $color-wapp;
  cursor: pointer;
 }

  &:hover{
    background-color: $black;
  }
}
