include ./home/mixins_home
section.section-footer.py-5
  .container
    .row
      .col-6.col-md-4
        .section-footer__social
          +socialItem('https://www.facebook.com/CIPACPOZARICA/','fa-facebook',' facebook')
          +socialItem('https://www.youtube.com/channel/UCvzeZ_-hLiLiAHdxASL601A','fa-youtube-play','youtube')
          +socialItem('https://www.facebook.com/CIPACPOZARICA/','fa-instagram','instagram')
          +socialItem('https://wa.me/5217821949498','fa-whatsapp','whatsapp')
      .col-6.col-md-4
        .footer-nav__link: a(href="/") Inicio
        .footer-nav__link: a(href="/about.html") Misión
        .footer-nav__link: a(href="/listenus.html") Escuchanos
        .footer-nav__link: a(href="/contact.html") Contacto
      .col-6.col-md-4.footer-nolinks
        p Por amor a las calles &copy;
        p Poza Rica
        p Veracruz, México
        p poramoralascalles@gmail.com
