extends ../config/template
append config
  -pageTitle = 'Inicio'
  -pageDescription = 'Pagina inicial de EDboilerplate'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  include ../includes/home/header
  include ../includes/home/banner
  main 
    include ../includes/section_top
