extends ../config/template
include ../includes/home/mixins_home
append config
  -pageTitle = 'Inicio'
  -pageDescription = 'Centro de Integración Por Amor a las Calles de Poza Rica Veracruz'
  -pageImage = 'https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/61403094_2075731082536789_7629896263315488768_n.jpg?_nc_cat=110&_nc_eui2=AeEEDfAVzOdNaCh5hOrdUPj6x5G9dY54ucbt9qXYfS2UoxXNuBwfBE1A1zaa9tclULxt6iWLR84ML8g9aRhrekLO_LjG6LBFfN0PmxWR6HsOzA&_nc_ohc=QDwxGqlE8dYAX9vD_Ky&_nc_ht=scontent-dfw5-1.xx&oh=c18103568839bdb2d11a364db30cc7a9&oe=5E8EFEEC'
block head
  meta(property="og:url" content="https://public.langdonhp435.now.sh/")
  meta(property = "fb:app_id" content = "681964889005361")
  meta(property="fb:admins" content="AWBki9stSj3Se4QiNT7uy8A")
  meta(property="og:description" content="Centro de Integración Por Amor a las Calles de Poza Rica Veracruz") 
  meta(property="og:type" content="website")
block main
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v5.0&appId=681964889005361&autoLogAppEvents=1"></script>
  include ../includes/home/banner
  main 
    +blockQuote('No hay amor más grande que dar la vida por sus amigos')
    include ../includes/home/section_top
    include ../includes/home/section_features
    include ../includes/home/section_news
    include ../includes/home/section_comments
