extends ../config/template
include ../includes/home/mixins_home
append config
  -pageTitle = 'Inicio'
  -pageDescription = 'Pagina inicial de EDboilerplate'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  include ../includes/home/header
  include ../includes/home/banner
  main 
    +blockQuote()
    include ../includes/home/section_top
    include ../includes/home/section_features
    include ../includes/home/section_news
    include ../includes/home/section_comments
    include ../includes/footer
