extends ../config/template
include ../includes/home/mixins_home
append config
  -pageTitle = 'Por amor a las calles Poza Rica'
  -pageDescription = 'Centro de Integración Juvenil Por Amor a las Calles de Poza Rica Veracruz'
  -pageImage = 'https://firebasestorage.googleapis.com/v0/b/poramoralascalles-1ce75.appspot.com/o/img%2F7-img.png?alt=media&token=3b9faeba-8ed0-4d6d-8983-8b2c254cf06c'
block main
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v5.0&appId=681964889005361&autoLogAppEvents=1"></script>
  include ../includes/home/banner
  main 
    +blockQuote('Conoce éste lugar en donde podrás restaurar tu vida y a tu familia')
    include ../includes/home/section_top
    include ../includes/home/section_features
    +blockQuote('"Porque tuve hambre y ustedes me dieron de comer, tuve sed y ustedes me dieron de beber, fuí forastero y ustedes me recibieron en su casa, anduve sin ropas y me vistieron. Estuve enfermo y fueron a visitarme, estuve en la cárcel y me fueron a ver"')
    include ../includes/home/section_center
    +blockQuote('"No hay amor más grande que dar la vida por sus amigos"')
    include ../includes/home/section_news
    include ../includes/home/section_comments
