extends ../config/template 
append config
  -pageTitle = 'Escuchanos'
  -pageDescription = 'Aqui encontrarás videos y musica del Centro de Integración Juvenil por Amor a las Calles de Poza Rica'
  -pageImage = 'https://firebasestorage.googleapis.com/v0/b/poramoralascalles-1ce75.appspot.com/o/img%2F7-img.png?alt=media&token=3b9faeba-8ed0-4d6d-8983-8b2c254cf06c'

block main
  include ../includes/listenus/section-videos
