extends ../config/template 
append config
  -pageTitle = 'Escuchanos'
  -pageDescription = 'Aqui encontrarás videos y musica de por amor a las calles de Poza Rica'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  include ../includes/listenus/section-videos
