-let pageTitle = 'Inicio'
-let siteName = 'Por amor a las calles Poza Rica'
-let twitterAccount = '@Cipacpozarica'
-let pageDescription = 'Centro de Integración Juvenil Por Amor a las Calles de Poza Rica Veracruz'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Inicio',
      url: '/web',
      child: []
    },
    {
      title: 'Misión',
      url: 'about.html',
      child: []
    },
    {
      title: 'Escuchanos',
      url: 'listenus.html',
      child: []
    },
    {
      title: 'Contacto',
      url: 'contact.html',
      child: []
    }
  ]
