-let pageTitle = 'Home'
-let siteName = 'EDboilerplate'
-let twitterAccount = '@edteamlat'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Inicio',
      url: '/',
      child: []
    },
    {
      title: 'Mision',
      url: 'about.html',
      child: []
    },
    {
      title: 'Escuchanos',
      url: 'music.html',
      child: []
    }
  ]
