-let pageTitle = 'Inicio'
-let siteName = 'Por amor a las calles Poza Rica'
-let twitterAccount = '@poramoralascalles'
-let pageDescription = 'Por amor a las calles en la ciudad de Poza Rica sitio oficial Jesús en el barrio'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Inicio',
      url: '/',
      child: []
    },
    {
      title: 'Misión',
      url: 'about.html',
      child: []
    },
    {
      title: 'Escuchanos',
      url: 'listenus.html',
      child: []
    },
    {
      title: 'Contacto',
      url: 'contact.html',
      child: []
    }
  ]
