
section.section-banner(style='background-image: url(https://firebasestorage.googleapis.com/v0/b/poramoralascalles-1ce75.appspot.com/o/img%2F2-img.jpg?alt=media&token=3b9faeba-8ed0-4d6d-8983-8b2c254cf06c);')
  .container.banner-container
    .row
      .col-sm-12.col-md-6
        h1.banner-title Centro de Integración Juvenil Por Amor a Las Calles <br>Poza Rica
      .col-sm-12.col-md-6.d-md-flex.align-items-end
        .baner-button__group
          a(href="/contact.html").btn.banner-button.button-help Deseo ayudar
          <div class="fb-share-button" data-href="https://public.langdonhp435.now.sh/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpublic.langdonhp435.now.sh%2F&amp;src=sdkpreparse" class="btn banner-button"><i class='fa fa-facebook'></i>compartir</a></div>          
