section.section-banner(style='background-img: url()')
  .container.banner-container
    .row
      .col-sm-12.col-md-6
        h2.banner-title Ministerio  de Jesús en el barrio de Poza Rica
      .col-sm-12.col-md-6.d-md-flex.align-items-end
        button.btn.banner-button 
          i.fa.fa-facebook 
          | compartir
          
