
section.section-banner(style='background-image: url(https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/17098373_1091223664320874_7423725677773024640_n.jpg?_nc_cat=110&_nc_ohc=p6Ow6yOzgZoAX9oMgqh&_nc_ht=scontent-dfw5-1.xx&oh=7e82f00c9bb0ea35b47d032f73b95056&oe=5E909449);')
  .container.banner-container
    .row
      .col-sm-12.col-md-6
        h1.banner-title Centro de Integración Juvenil Por Amor a Las Calles <br>Poza Rica
      .col-sm-12.col-md-6.d-md-flex.align-items-end
        .baner-button__group
          a(href="/contact.html").btn.banner-button.button-help Deseo ayudar
          <div class="fb-share-button" data-href="https://public.langdonhp435.now.sh/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpublic.langdonhp435.now.sh%2F&amp;src=sdkpreparse" class="btn banner-button"><i class='fa fa-facebook'></i>compartir</a></div>          
