section.section-top
  .container
    .row
      .col-md-6
        img(src='https://firebasestorage.googleapis.com/v0/b/poramoralascalles-1ce75.appspot.com/o/img%2F6-img.jpg?alt=media&token=3b9faeba-8ed0-4d6d-8983-8b2c254cf06c', alt="image").section-top__image
      .col-md-6
        h2.h3.text-center.mt-3.mt-md-0.mb-3 Comedor comunitario en Poza Rica
        p.text-justify Todos los miércoles en el Parque Juárez de la ciudad de Poza Rica Veracruz, se han repartido desde el 2009 más de 32,000 platillos de comida y más de 28,000 litros de agua a las personas de alta y muy alta marginación meiante iniciativas sociales.
        p.text-justify Deseamos que tu corazón pueda formar parte de éste proyecto, queremos ser de bendición para nuesta ciudad y apoyar la economía de quienes trabajan todos los días en las calles, pequeños comerciantes y niños en las calles.
        p.text-justify Puedes apoyarnos desde cualquier parte, dentro y fuera de nuestro país.
        p.text-justify Un proyecto que será de gran bendición y solidaridad, gracias a gente buena, seguro será de gran impacto
