section.section-top
  .container
    .row
      .col-md-6
        img(src=`https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/83024796_2531582703752429_5793333741778632704_n.jpg?_nc_cat=100&_nc_ohc=dK8D9Nmei94AX9ym18C&_nc_ht=scontent-dfw5-2.xx&oh=b4c9efcfb175f9ec7abc2bfe9d1a4c7a&oe=5ECEA6DF`, alt="image").section-top__image
      .col-md-6
        h2.text-center.mt-3.mt-md-0 Comedor comunitario en Poza Rica
        p.text-justify Febrero es la fecha de arranque, aún falta pero confiamos en Dios, queremos ser de bendición para nuesta ciudad y apoyar la economía de quienes trabajan todos los días en las calles, pequeños comerciantes y niños en las calles.
        p.text-justify Puedes apoyarnos desde cualquier parte, dentro y fuera de nuestro país.
        p.text-justify Un proyecto que será de gran bendición y solidaridad, gracias a gente buena, seguro será de gran impacto
