section.container
  .row
    .col
      p.text-justify CIPAC ELITEH, un centro de integración y rehabilitacion contra las adicciones en la ciudad de Poza Rica Veracruz. Brindamos apoyo médico y terapia psicológica, espiritual y ocupacional a jóvenes y varónes de 12 a 30 años que ingresan por voluntad propia, con deseos de cambiar su vida.
  .row
    .col-lg-6
      p Nuestras instalaciones se localizan en calle 24 de Febrero S/N ejido FLores Magón, Tihuatlan Ver.
      ul.section-top__ul
        .section-top__side
          li.section-top__ul-item <span class="section-top__icon"><i class="fa fa-times"></i></span>Alcoholismo
          li.section-top__ul-item <span class="section-top__icon"><i class="fa fa-times"></i></span>Depresión
          li.section-top__ul-item <span class="section-top__icon"><i class="fa fa-times"></i></span>Baja autoestíma
          li.section-top__ul-item <span class="section-top__icon"><i class="fa fa-times"></i></span>Ingobernabilidad
        .section-top__side
          li.section-top__ul-item <span class="section-top__icon"><i class="fa fa-times"></i></span>Ansiedad
          li.section-top__ul-item <span class="section-top__icon"><i class="fa fa-times"></i></span>Fármacos
          li.section-top__ul-item <span class="section-top__icon"><i class="fa fa-times"></i></span>Codependencia
    .col-lg-6
      #map.text-center
