include ./mixins_home
section.section-features
  .container
    .row
      +feature('fa-heart','Por amor a las calles',`#ff0000`)
      +feature('fa-thumbs-o-up','Los buenos somos más',`#3b5998`)
      +feature('fa-pagelines','Vida abundante',`#00e576`)
