include ./mixins_home
section.section-news.py-3
  .container
    h2 Últimas noticias
  .container.py-3
    .row#newsGrid
      +newsItem()
      +newsItem()
      +newsItem()
      +newsItem()
      
